body {
    background-image: url('music.jpg');
    background-size: cover; /* Adjust the image size to cover the entire viewport */
    background-position: center; /* Center the image on the viewport */
    background-repeat: no-repeat; /* Prevent image repetition */
    color: whitesmoke; /*Set text to whitesmoke */
    height: 100vh; /* Set background image to take up entire screen */
    overflow: hidden; /* Get rid of the spacebar */
}

label {
    font-size: 16px; 
    text-shadow: 2px 2px 4px #000;
}

form {
    text-align: center;
}

.parent {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 65vh;
}

.larger-heading {
    font-size: 62px;
    text-shadow: 2px 2px 4px #000;
}

.info-bar {
    height: 85px;
}

.form-row {
    display: flex;
    justify-content: center;
}

.form-group {
    margin: 20px;
    text-align: center;
}

input:focus {
    outline: none;
}

.button {
    background-color: #000000;
    color: whitesmoke;
    padding: 8px 16px;
    font-size: 14px;
    border: .5 solid whitesmoke;
    cursor: pointer; 
}

.button:hover {
    background-color: #006ae3;
}

.attendee-info {
    text-align: center;
    color: whitesmoke;
    text-shadow: 2px 2px 4px #000;
}

/*For testing purposes to see where div outlines are */
div {
    outline: 0px solid rgb(255, 0, 0); /* Outlines don't affect layout */
  }