/* Global Body Styles */
/* Sets overall background and text for the entire page */
body {
    background: linear-gradient(rgba(0, 0, 0, 0.034), rgb(0, 0, 0)), url('music.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: whitesmoke;
    height: 100vh;
    overflow: hidden;
}

/* Font and Header - Size and Shadows */
label {
    font-size: 16px; 
    text-shadow: 2px 2px 4px #000;
}

.larger-heading {
    font-size: 62px;
    text-shadow: 2px 2px 4px #000;
}

/* Flexbox for Central Alignment of Site Content */
.parent {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 65vh;
}

.form-row {
    display: flex;
    justify-content: center;
}

.form-group {
    margin: 12px;
    text-align: center;
}

/* Remove Outline around Input Fields*/
input:focus {
    outline: none;
}

/* Button Styles */
/* Consistent styling for all buttons */
.button {
    background-color: #000000;
    color: whitesmoke;
    padding: 8px 16px;
    font-size: 14px;
    border: .5 solid whitesmoke;
    cursor: pointer; 
}

.button:hover {
    background-color: #006ae3;
}

/* Information Bar */
/* Fixed height to display user messages or registration information*/
.info-bar {
    height: 85px;
}

.attendee-info {
    text-align: center;
    color: whitesmoke;
    text-shadow: 2px 2px 4px #000;
}

/* Temporary for Testing Purposes */
/* Red outline for visualizing div boundaries */
div {
    outline: 0px solid rgb(255, 0, 0);
  }